@model RestaurantViewModel

@{
    ViewBag.Title = @Model.Restaurant.Name;
    Layout = "_Layout";
}

<div class="m-2 container bg-dark mx-auto shadow rounded p-2">
    <div class="card col rounded-1">
        <div class="position-relative">
            <img src="@Model.Restaurant.BigImage" class="d-block rounded-top card-img-top ibg" alt="...">
        </div>
        <div class="card-header px-2 d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <h3 class="card-title m-0 text">
                    @Model.Restaurant.Name
                </h3>
                <h6 class="ms-1 mb-0">
                    @if (Model.Restaurant.IsArchived) {
                        <span class="badge bg-danger">Archived</span>
                    }
                    else {
                        <span class="badge bg-success">Unarchived</span>
                    }
                </h6>
            </div>
            <div class="d-flex">
                @if (Model.Restaurant.IsArchived) {
                    @await Html.PartialAsync("_UnarchiveRestaurant", new GuidModel() { Id = Model.Restaurant.Id})
                }
                else {
                    @await Html.PartialAsync("_ArchiveRestaurant", new GuidModel() { Id = Model.Restaurant.Id})
                }
                <form class="ms-1">
                    @await Html.PartialAsync("_RestaurantEditModal", Model.RestaurantEditModel)
                </form>
            </div>
        </div>
        <div class="col-12 card-body">
            <textarea class="form-control bg-dark text-light m-0 p-0 border-0" readonly disabled>@Model.Restaurant.Description</textarea>
        </div>
        <div class="card-footer">
            <p class="mb-1 text-muted">@Model.Restaurant.Address</p>
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs row row-cols-2 m-1" role="tablist">
            <button class="nav-link active" id="nav-manager-tab" data-bs-toggle="tab" data-bs-target="#nav-manager" type="button" role="tab" aria-selected="true">Managers</button>
            <button class="nav-link" id="nav-cook-tab" data-bs-toggle="tab" data-bs-target="#nav-cook" type="button" role="tab" aria-selected="false">Cooks</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-manager" role="tabpanel" aria-labelledby="nav-manager-tab" tabindex="0">
            @await Html.PartialAsync("_AddManager", Model.Manager)
            @foreach (var manager in Model.Managers) {
                @await Html.PartialAsync("_ManagerCard", new ManagerCardModel() {
                           RestaurantId = Model.Restaurant.Id,
                           Email = manager.Email
                       })
            }
        </div>
        <div class="tab-pane fade" id="nav-cook" role="tabpanel" aria-labelledby="nav-cook-tab" tabindex="0">
            @await Html.PartialAsync("_AddCook", Model.Cook)
            @foreach (var cook in Model.Cooks) {
                @await Html.PartialAsync("_CookCard", new CookCardModel() {
                           RestaurantId = Model.Restaurant.Id,
                           Email = cook.Email
                       })
            }
        </div>
    </div>

</div>