@model RestaurantListViewModel

@{
    ViewData["Title"] = "Restaurants";
}

<div class="mx-5 mb-4 container bg-dark mx-auto shadow rounded pb-2">
    <form
        class="row row-cols-xl-4 row-cols-md-2 row-cols-1 pt-2 rounded" id="search">
        <div class="pt-1">
            <input class="form-control w-100" placeholder="Claude Monet">
        </div>
        <div class="pt-1">
            <select class="form-select w-100">
                <option value="NameAsc">По возрастанию алфавита</option>
                <option value="NameDesc">По убыванию алфавита</option>
            </select>
        </div>
        <div class="pt-1">
            <select class="form-select w-100">
                <option value=@null>Все</option>
                <option value=@true>Архивированные</option>
                <option value=@false>Не архивированные</option>
            </select>
        </div>
        <div class="pt-1">
            <button type="submit" class="btn btn-primary end-0 w-100 float-end searchSubmit" id="searchSubmit">Применить</button>
        </div>
    </form>
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
        <div class="col py-2">
            <div class="card rounded-1 h-100">
                <div class="position-relative">
                    <img src="restaurant-icon.webp" class="d-block rounded-top card-img-top ibg" alt="...">
                </div>
                <div class="card-header px-1">
                    @await Html.PartialAsync("_RestaurantCreateModal", Model.RestaurantCreateModel)
                </div>
            </div>
        </div>
        @foreach (var restaurantShortDto in Model.Restaurants) {
            <div class="col py-2">
                <div class="card rounded-1 h-100">
                    <div class="position-relative">
                        <img src="@restaurantShortDto.SmallImage" class="d-block rounded-top card-img-top ibg" alt="...">
                    </div>
                    <div class="card-header px-1">
                        <h3 class="card-title m-0">
                            <a asp-controller="Restaurant" asp-action="ConcreteRestaurant"
                               asp-route-restaurantId="@restaurantShortDto.Id"
                               class="title text-decoration-none">
                                @restaurantShortDto.Name
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-12">Page: @Model.Page Pages: @Model.Pages PageSize: @Model.PageSize</div>
</div>