@model UserListViewModel

@{
    ViewData["Title"] = "Users";
}

<div class="">
    @foreach (var user in Model.Users) {
        <div class="card d-flex flex-row my-2 p-2 justify-content-between pointer">
            <div class="d-flex pt-2 my-auto ms-2">
                <h5 class="card-title">@user.FullName</h5>
                <div class="card-text ms-2">@user.Email</div>
            </div>
            <div class="d-flex flex-row">
                @if (user.IsBanned) {
                    @await Html.PartialAsync("_UnbanUser", new GuidModel() { Id = user.Id })
                }
                else {
                    @await Html.PartialAsync("_BanUser", new GuidModel() { Id = user.Id })
                }
                
                @await Html.PartialAsync("_UserEditModal", new UserEditModel() {
                           Id = user.Id,
                           FullName = user.FullName,
                           Gender = user.Gender,
                           Roles = user.Roles.Select(x => x.ToString()).ToList()
                       })
            </div>
        </div>
    }
    <nav class=" mx-auto mt-2">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.Pages; i++) {
                <li class="@(i == Model.Page ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i})">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>